@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #C3BBB9;
    font-family: Open Sans;
    font-weight: 500;
    color: white;



}
/* headings and box */

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E57812;   
}

.header {
    font-size: 400%; 
    margin-left: 30px; 
}

.box {
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  justify-content: right;
  margin-right: 30px;
  font-size: 22px;
  color: #fff;
}

.box div:hover {
    border-bottom: 1px solid #E57812;
}

 i {
    color: #E57812;
}

/* carpenter image */

#carpenter-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#carpenter-image {
    height: 500px;
    width: 100%;
    
    background: url('../image/carpenter-working-with-equipment-wooden-table-carpentry-shop_1418-2351.webp')no-repeat center center;
}
/* section about us */


.about-us {
    color: #E57812;
    font-family: Oswald;
    text-align: center;
    font-size: 30px;
}

#about-us p {
    color: black;
    font-family: Open Sans;
    text-align: center;
}

/* mix container*/


.container {
    display: flex;
    color: white;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    background-color: white;
    border-radius: 2em;
    justify-content: space-evenly;

}
.items-one {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/IMG_3676.jpg');
    background-size: cover;
    border-radius: 2em;
    
}
.items-two {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/IMG_3677.jpg');
    background-size: cover;
    border-radius: 2em;
}

.items-three {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/brown-wooden-floor.jpg');
    background-size: cover;
    border-radius: 2em;
}




h3 {
    background-color: #C3BBB9;
    border-radius: 2em;
    width: 6em;
    height: 1.5em;
    text-align: center;
    font-family: Open Sans;
    color: #fff;
    margin: 200px 50px;
}

/* Footer */

footer {
    height: 150px;
    text-align: center;
    font-family: Open Sans;
    color: black;
}
 #contact h4 {
    font-size: 25px;
 }

#contact p {
    padding-top: 10px;
    width: 6%;
    height: 100px;
    margin-left: 47%;
}


.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;

}


