@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url('../image/brown-wooden-textured-flooring-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Open Sans;
    font-weight: 500;
    color: white;

}
/* headings and logo */

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-size: 70px; 
    margin-left: 30px;  
}

.box {
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  justify-content: right;
  margin-right: 30px;
  font-size: 25px;
}

.box div:hover {
    border-bottom: 1px solid #E57812;
}

 i {
    color: #E57812;
}

/* carpenter image */

#carpenter-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#carpenter-image {
    height: 500px;
    width: 100%;
    
    background: url('../image/IMG_3201_jpg.jpg')no-repeat center center;
}
/* section about us */


.about-us {
    color: #fff;
    font-family: Oswald;
    text-align: center;
}

#about-us p {
    color: #fff;
    font-family: Open Sans;
    text-align: center;
}



