@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #C3BBB9;
    font-family: 'Open Sans';
    font-weight: 500;
    color: white;
}
/* headings and box */

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}

h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E57812; 
}

.header {
    font-size: 450%; 
    
}

.box {
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 2em;
  justify-content: right;
  
  font-size: 30px;
  color: black;
  margin-top: 10%;
 
}

.box a {
    text-decoration: none;
    color: inherit;
}

.box div:hover {
    border-bottom: 1px solid #E57812;
}
.active {
    border-bottom: 1px solid #E57812;
}

 i {
    color: #E57812;
}


/* carpenter image */

.flex-container {
    display: flex;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    overflow: hidden;

    position: relative;
}

.items-image {
    height: 500px;
    width: 100%;
    margin-top: 0;

    background: url('../image/carpenter-working-with-equipment-wooden-table-carpentry-shop_1418-2351.webp')no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

    .items-text, .items-text h2 {
        color: #fff;
    }


    .items-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 140%;
        font-family: 'Oswald';
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
    
        width: 250px;
        height: 200px;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: rgba(84, 81, 80, 0.7);
        border-radius: 2em 0;
        bottom: 50px;
        left: 75px;

        position: absolute;
    }

        
/* welcome */

#welcome {
    color: white;
    background-color: rgb(127, 124, 124);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 8%;
}
#welcome h2 {
    font-size: 50px;
    font-family: 'Open Sans';
    letter-spacing: 2px;
}
#welcome p {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Open sans';
}

/* section about us */

#about-us {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    color: #E57812;
    font-family: 'Oswald';
   
   border-color: rgb(127, 124, 124);

    background-color: whitesmoke;

    margin: auto;
    position: relative;
}


/* mix container for about us*/


.container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.4rem;
    padding: 2rem;
    margin: auto;
    background-color: whitesmoke;
    font-family: 'Oswald';
    justify-content: space-around;
}



.items-one {
    width: 22em;
    height: 22em;
    padding: 0;
    background-image: url('../image/IMG_3676.jpg');
    background-size: cover;
    border-radius: 1em;   
}

.items-two {
    width: 22em;
    height: 22em;
    padding: 0;
    background-size: cover;
    border-radius: 1em;
}

.items-two p {
    text-align: center;
    color: black;
    letter-spacing: 3px;
    font-size: 17px;
    margin-top: 20%;
    margin-right: 6%;
    margin-left: 6%;
    font-family: 'Open Sans';
    
}

.items-three {
    width: 22em;
    height: 22em;
    padding: 0;
    background-image: url('../image/IMG_3677.jpg');
    background-size: cover;
    border-radius: 1em;
}

.container-two {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    background-color: whitesmoke;
    font-family: 'Open Sans';
    
    justify-content: space-around;

}
.items-four {
    width: 22em;
    height: 22em;
    padding: 4px;
    background-color: whitesmoke;
    border: 4px dotted rgb(127, 124, 124);
    border-radius: 1em;
    
}

.items-four i {
    color: black;
   font-size: 250%;
   margin: 10%;
   margin-left: 210px;
   padding: 2%;
}

.items-four h3 {
    text-align: center;
    color: black;
    letter-spacing: 3px;
    margin-top: 6%;
    margin-right: 6%;
    margin-left: 6%;  
}

.items-four p {
    text-align: center;
    color: black;
    letter-spacing: 3px;
}

.items-five {
    width: 22em;
    height: 22.5em;
    padding: 0;
    background-image: url('../image/IMG_3695.jpg');
    background-size: cover;
    border-radius: 1em;
    margin: 10px;
    
}

.items-six {
    width: 22em;
    height: 22em;
    padding: 2px;
    background-color: whitesmoke;
    border: 4px dotted rgb(127, 124, 124);
    border-radius: 1em;
}

.items-six h3 {
    text-align: center;
    color: black;
    margin-top: 15%;
    margin-right: 6%;
    margin-left: 6%;
font-family: 'Oswald';
}
.items-six li {
    text-align: center;
    color: black;
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 25%;
}

.contact-info{
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 4px;
    font-size: 40px;
    color: #E57812;
}

/* Footer */

.flex-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    font-family: 'Open Sans';
    color: black;
}


.contact-address {
    width: 30em;
    height: 20em;
    padding: 2px;
    border: 4px ridge rgb(127, 124, 124);
    text-align: center;
    font-family: 'Open Sans';
}

 .contact-address h4 {
    margin-top: 10%;
    font-size: 25px;
    color: black;
    font-family: 'Oswald';
 }

.contact-address p {
   font-size: 20px;
}

.social-networks {
    width: 30em;
    height: 20em;
    padding: 2px;
    border: 4px ridge rgb(127, 124, 124);
    font-family: 'Open Sans';
    text-align: center;
}
.social-networks h4{
    font-family: 'Oswald';
    font-size: 25px;
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
}

.social-networks li {

    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 2%;
}


