@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #C3BBB9;
    font-family: 'Open Sans';
    font-weight: 500;
    color: white;
}
/* headings and box */

.box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vh;
    
}

h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black; 
    margin: 2px;

}

.header {
    font-size: 400%; 
    justify-content: center;
    
}

.box {
    display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 2em;
  justify-content: right;
  
  font-size: 30px;
  color: black;
  margin: 4vh;
 
}

.box a {
    text-decoration: none;
    color: inherit;
}

.box div:hover {
    border-bottom: 1px solid #E57812;
}
.active {
    border-bottom: 1px solid #E57812;
}

 i {
    color: #E57812;
}


/* carpenter image */

.flex-container {
    display: flex;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    overflow: hidden;
    height: 650px;
    width: auto;

    position: relative;
}

.items-image {
    height: 100%;
    width: 100%;
    

    background: url('../image/snickare1.jpeg') no-repeat center center;
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    
    

}

    .items-text, .items-text h2 {
        color: #fff;
    }


    .items-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 140%;
        font-family: 'Oswald';
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
    
        width: 250px;
        height: 200px;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: rgba(84, 81, 80, 0.7);
        border-radius: 2em 0;
        bottom: 50px;
        left: 33px;

        position: absolute;
    }

        
/* welcome */

#welcome {
    color: white;
    background-color: rgb(127, 124, 124);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 8%;
}
#welcome h2 {
    font-size: 50px;
    font-family: 'Open Sans';
    letter-spacing: 2px;
}
#welcome p {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Open sans';
}

/* section about us */

#about-us {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    color: black;
    font-family: 'Oswald';
   
   border-color: rgb(127, 124, 124);

    background-color: whitesmoke;

    margin: auto;
    position: relative;
}


/* mix container for about us*/


.container {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.4rem;
    padding: 2rem;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Oswald';
    justify-content: space-around;
}



.items-one {
    width: 22em;
    height: 22em;
    padding: 0;
    background-image: url('../image/IMG_3741.webp');
    background-size: cover;
    border-radius: 1em;   
}

.items-two {
    width: 22em;
    height: 22em;
    padding: 0;
    background-size: cover;
    border-radius: 1em;
}

.items-two p {
    text-align: center;
    color: black;
    letter-spacing: 3px;
    font-size: 17px;
    margin-top: 20%;
    margin-right: 6%;
    margin-left: 6%;
    font-family: 'Open Sans';
    
}

.items-three {
    width: 22em;
    height: 22em;
    padding: 0;
    background-image: url('../image/IMG_3742.webp');
    background-size: cover;
    border-radius: 1em;
}

.container-two {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Open Sans';
    
    justify-content: space-around;
    

}
.items-four {
    width: 22em;
    height: 22em;
    padding: 4px;
    background-color: whitesmoke;
    border: 4px dotted rgb(127, 124, 124);
    border-radius: 1em;
    font-family: 'Open Sans';
    margin: 10px;
}

.items-four i {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
   font-size: 250%;
   margin: 10%;
   margin-right: 20px;
   padding: 2%;
}

.items-four h3 {
    text-align: center;
    color: black;
    letter-spacing: 3px;
    margin-top: 6%;
    margin-right: 6%;
    margin-left: 6%; 
    font-family: 'Oswald';
    font-size: 30px;
    
}

.items-four p {
    text-align: center;
    color: black;
    letter-spacing: 3px;
}

.items-five {
    width: 22em;
    height: 22.5em;
    padding: 2px;
    background-image: url('../image/IMG_3740.webp');
    background-size: cover;
    border-radius: 1em;
    margin: 10px;
    
    
    
}

.items-six {
    width: 22em;
    height: 22em;
    padding: 4px;
    background-color: whitesmoke;
    border: 4px dotted rgb(127, 124, 124);
    border-radius: 1em;
    margin: 10px;
}

.items-six .specialized {
    text-align: center;
    color: black;
    margin-top: 15%;
    margin-right: 6%;
    margin-left: 6%;
font-family: 'Oswald';
font-size: 150%;
}
.items-six li {
    text-align: center;
    color: black;
    margin-top: 4%;
    list-style-type: none;
   
}

.contact-info{
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 4px;
    font-size: 40px;
    color: black;
}

/* Gallery */

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #C3BBB9;
    text-align: center; 
}
.icon-container div:first-child {
    font-family: 'Oswald';
    font-size: 45px;
    color: black;
    margin: 2%;
}

.icon-container p i {
    
    color: black;
    font-size: 60px;
    justify-content: space-between;
}


.how {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #C3BBB9;
    text-align: center; 
    padding: 4%;
}


.how-one {
    width: 50em;
    height: 20em;
    padding: 4px;
    background-color: whitesmoke;
    border: 1px hidden rgb(127, 124, 124);
    border-radius: 1em;
    margin: 10px;
    color: black;
    overflow:visible;
}

.how-one h3 {
    color: black;
    font-family: 'Open Sans';
    margin-bottom: 2px;
    font-size: 30px;
    margin: 2%;

}
.how-one p {
    color: black;
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 2%;
}

.how-two {
    width: 50em;
    height: 20em;
    padding: 4px;
    background-color: whitesmoke;
    border: 1px hidden rgb(127, 124, 124);
    border-radius: 1em;
    margin: 10px;
    color: black;
    overflow:  auto;  
}

.how-two h3 {
    color: black;
    font-family: 'Open Sans';
    margin-bottom: 2px;
    font-size: 30px;
    margin: 2%;
}

.how-two p {
    color: black;
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 2%;
}



  
/* Footer */
footer {
    background-color: whitesmoke;
}
.flex-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    font-family: 'Open Sans';
    color: black;
    background-color: whitesmoke;
}




.contact-address {
    width: 30em;
    height: 20em;
    padding: 2px;
    border: 4px ridge rgb(127, 124, 124);
    text-align: center;
    font-family: 'Open Sans';
    background-color: whitesmoke;
}

 .contact-address div {
    margin-top: 10%;
    font-size: 25px;
    color: black;
    font-family: 'Oswald';
    list-style-type: none;
 }

.contact-address p {
   font-size: 20px;
}

.social-networks {
    width: 30em;
    height: 20em;
    padding: 2px;
    border: 4px ridge rgb(127, 124, 124);
    font-family: 'Open Sans';
    text-align: center;
}
.social-networks .networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Oswald';
    font-size: 25px;
    color: black;
    margin-top: 10%;
    margin-bottom: 15%;
}

.social-networks li {

    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 2%;
}

.footer-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(84, 81, 80, 0.7);
    color: white;
    font-family: 'Open Sans';
    align-items: center;
    font-size: 25px;
}


@media screen and (max-width: 1030px) {
    .flex-contact {
        flex-direction: column;
    }

    .contact-address {
        width: 20em;
        height: 20em;
    }

    .social-networks {
        width: 20em;
        height: 20em;
    }
  }

  @media screen and (max-width: 670px) {
    .items-four p {
        font-size: 16px;
    }

    .icon-container p {
        font-size: 20px;
    }
  }

  @media screen and (max-width: 375px) {
    .icon-container p {
        font-size: 0.5px;
        margin: 10px;
    }

    .how-one p {
        font-size: 15px;
    }

    .how-two p {
        font-size: 15px;
    }

    #welcome h2 {
        font-size: 40px;
    }

    #welcome p {
        font-size: 25px;
    }

    .header {
        font-size: 50px;
    }

    .box  div {
        font-size: 30px;
    }
  }

  @media screen and (max-width: 1600px) {
    .container-two {
        font-size: 22px;
        padding: 2rem;
        flex-wrap: nowrap;
    }
  }

