@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #C3BBB9;
    font-family: Open Sans;
    font-weight: 500;
    color: white;



}
/* headings and box */

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E57812;   
}

.header {
    font-size: 450%; 
    margin-left: 30px; 
}

.box {
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  justify-content: right;
  margin-right: 30px;
  font-size: 22px;
  color: black;
}

.box div:hover {
    border-bottom: 1px solid #E57812;
}

 i {
    color: #E57812;
}

/* carpenter image */

.flex-container {
    display: flex;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    overflow: hidden;

    position: relative;
}

.items-image {
    height: 500px;
    width: 100%;
    margin-top: 0;

    background: url('../image/carpenter-working-with-equipment-wooden-table-carpentry-shop_1418-2351.webp')no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    

}

    .items-text, .items-text h2 {
        color: #fff;
    }


    .items-text {
        font-size: 140%;
        font-family: Oswald;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
    
        width: 250px;
        height: 200px;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: rgba(204, 107, 55, 0.7);
    
        bottom: 50px;
        right: 150px;

        border-radius: 50%;

        margin-right: 70%;
        
    
        position: absolute;
    }
        
/* welcome */

#welcome {
    color: white;
    background-color: rgb(127, 124, 124);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 8%;
}
#welcome h2 {
    font-size: 50px;
    font-family: Open Sans;
    letter-spacing: 2px;
}
#welcome p {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: Open sans;
}

/* section about us */

#about-us {
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    color: #E57812;
    font-family: Oswald;
   
   border-color: rgb(127, 124, 124);

    background-color: whitesmoke;

    margin: auto;
    position: relative;
}


/* mix container*/


.container {
    display: flex;
    color: white;
    font-size: 1.4rem;
    padding: 2rem;
    margin: auto;
    background-color: whitesmoke;
    
    justify-content: space-evenly;

}


.items-one {
    width: 25em;
    height: 25em;
    padding: 0;
    background-image: url('../image/IMG_3676.jpg');
    background-size: cover;
    border-radius: 1em;
    
}

.items-one h3 {
    background-color: #C3BBB9;
    border-radius: 2em;
    width: 6em;
    height: 1.5em;
    text-align: center;
    font-family: Open Sans;
    color: #fff;
    margin: 200px 50px;
}

.items-two {
    width: 25em;
    height: 25em;
    padding: 0;
    background-size: cover;
    border-radius: 1em;
}

.items-two h3 {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: Oswald;
    letter-spacing: 4px;
}

.items-two p {
    text-align: center;
    color: black;
    letter-spacing: 4px;
}

.items-three {
    width: 25em;
    height: 25em;
    padding: 0;
    background-image: url('../image/IMG_3677.jpg');
    background-size: cover;
    border-radius: 1em;
}

.items-three h3 {
    background-color: #C3BBB9;
    border-radius: 2em;
    width: 6em;
    height: 1.5em;
    text-align: center;
    font-family: Open Sans;
    color: #fff;
    margin: 200px 50px;

}

.container-two {
    display: flex;
    color: white;
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: auto;
    background-color: whitesmoke;
    
    justify-content: space-around;

}
.items-four {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/brown-wooden-floor.jpg');
    background-size: cover;
    border-radius: 2em;
}

.items-five {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/brown-wooden-floor.jpg');
    background-size: cover;
    border-radius: 2em;
}

.items-six {
    width: 12em;
    height: 12em;
    padding: 0;
    background-image: url('../image/brown-wooden-floor.jpg');
    background-size: cover;
    border-radius: 2em;
}


/* Footer */

footer {
    height: 150px;
    text-align: center;
    font-family: Open Sans;
    color: black;
}
 #contact h4 {
    font-size: 25px;
 }

#contact p {
    padding-top: 10px;
    width: 6%;
    height: 100px;
    margin-left: 47%;
}


.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;

}


